@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
@foreach (var file in Model.DirectoryContents)
{
    <p>Filename: <a href="~/images/@file.Name">@file.Name</a></p>
}