@page
@model GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<header id="header" class="gallery-page">
    <div class="clearfix d-flex phone-d-block">
        <div class="col col-1 phone-col-12"></div>
        <div class="col col-2 phone-col-12 text-center">
            <a class="logo d-block tablet-mt-1 pt-2 mb-4 phone-pr-2 phone-pl-2" href="/">
                <img src="img/logo.png" srcset="img/logo.png 1x, img/logo-2x.png 2x, img/logo-3x.png 3x" />
            </a>
        </div>
        <div class="col col-8 phone-col-12">
            <div class="d-table full-width full-height">
                <div class="d-table-cell valign-middle text-right phone-text-center">
                    <ul class="main-menu pt-2 pb-2 mr-1 d-inline-block" role="navigation">
                        <li><a href="/" class="text-bold text-uppercase text-color d-block p-08 pr-0">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-1 phone-col-12"></div>
    </div>
</header>

<section id="gallery">
    <div class="clearfix">
        <div class="col col-1"></div>
        <div class="col col-10">
            <h1 class="section-title">Gallery</h1>
            <div class="light-bg p-2 mt-2 text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="pt-2 pb-2 text column-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="clearfix gallery--container grid">
                <div class="grid-sizer"></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Gallery4.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main1.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main5.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main6.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main11.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main12.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main13.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressers-Edinburgh-VincentBell-Main14.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/Hairdressing-at-Barnsdale.jpg" /></div>
                <div class="grid-item"><img src="img/gallery/hairdressing-courses-edinburgh-cover1.jpg" /></div>
            </div>
        </div>
        <div class="col col-1"></div>
    </div>
</section>

<script src="js/masonry.pkgd.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript">
    var grid = document.querySelector( '.grid' );
    var msnry;
    imagesLoaded( grid, function() {
            msnry = new Masonry( grid, {
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            gutter: 24
        });
    });
</script>