@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<header id="header" class="gradient-bg">
    <div class="clearfix d-flex">
        <div class="col col-4 text-right phone-text-center flex-auto">
            <a class="logo d-block mt-6 tablet-mt-1 pt-2 pl-2 phone-pr-2" href="#"><img src="~/img/logo.png" srcset="img/logo.png 1x, img/logo-2x.png 2x, img/logo-3x.png 3x" /></a>
            <ul class="main-menu pt-2 pb-2" role="navigation">
                <li><a href="#about" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">About Us</a></li>
                <li><a href="#services" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">Services</a></li>
                <li><a href="#salon" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">Salon</a></li>
                <li><a href="#team" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">The team</a></li>
                <li><a href="#gallery" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">Gallery</a></li>
                <li><a href="#testimonials" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">Testimonials</a></li>
                <li><a href="#appointment" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor appointment-menu-link">Appointment</a></li>
                <li><a href="#contact" class="text-bold text-uppercase text-color d-block p-08 pr-0 anchor">Contact</a></li>
            </ul>
            <a class="rounded-button purple-blue-gradient d-inline-block text-color-white text-uppercase text-bold action-button mb-4 transition anchor" href="#appointment">Get an appointment</a>
        </div>
        <div class="col col-1 flex-auto phone-d-none"></div>
        <div class="col col-7 banner flex-auto phone-d-none"></div>
    </div>
</header>

<section id="about" class="parallax about">
    <div class="clearfix relative">
        <div class="col col-6 tablet-col-8 phone-col-12">
            <div class="clearfix">
                <div class="col col-4 tablet-col-1"></div>
                <div class="col col-8 tablet-col-11 phone-col-10">
                    <div class="white-bg p-2 text phone-text-09">
                        <p>Olga Nicole Salon Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaa liqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Olga Nicole Salon Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaa liqua.</p>
                        <p class="text-center mt-1">
                            <a href="#" class="d-inline-block social-facebook" title="Olga Nicole Salon on Facebook">
                                <span class="icon-facebook2"></span>
                            </a>
                            <a href="#" class="d-inline-block mr-1 ml-1 social-youtube" title="Olga Nicole Salon on Youtube">
                                <span class="icon-youtube"></span>
                            </a>
                            <a href="#" class="d-inline-block social-instagram" title="Olga Nicole Salon on Instagram">
                                <span class="icon-instagram"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-6 tablet-col-4 phone-col-12 full-height">
            <div class="text-center about--services-button phone-mt-2 phone-mb-2">
                <a class="rounded-button purple-orange-gradient d-inline-block text-color-white text-uppercase text-bold action-button transition shadow anchor" href="#services">Explore Services</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="clearfix d-flex full-height phone-d-block">
        <div class="col col-1 flex-auto"></div>
        <div class="col col-2 tablet-col-3 phone-col-10 flex-auto">
            <div class="full-height d-flex flex-column full-height">
                <div class="flex-auto">
                    <h1 class="section-title text-color text-right mt-6 tablet-text-1-8 phone-text-left phone-mt-2">
                        <span class="text-thin">Explore</span><br />
                        <span class="text-medium">Services</span>
                    </h1>
                </div>
                <div class="flex-auto tiles-container">
                    <a href="#" class="service-tile tile-a shadow white-bg transition d-block ml-auto mt-2 phone-maxw-100">
                        <h3 class="service-tile-title text-bold text-color tablet-text-09 phone-pos-rel">Colour Services</h3>
                    </a>
                    <a href="#" class="service-tile tile-a shadow white-bg transition d-block ml-auto mt-2 phone-maxw-100">
                        <h3 class="service-tile-title text-bold text-color tablet-text-09 phone-pos-rel">Express Services</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col col-2 tablet-col-4 phone-col-6 flex-auto phone-mt-2">
            <a href="#" class="service-tile tile-b shadow white-bg transition d-flex flex-column ml-auto full-height mr-1">
                <span class="tile-bg tile-b-bg-a flex-auto transition phone-height-10rem"></span>
                <h3 class="service-tile-title text-bold text-color flex-auto relative tablet-text-09"><span class="title-text text-bold phone-pos-rel">Standby</span></h3>
            </a>
        </div>
        <div class="col col-2 tablet-col-4 phone-col-6 flex-auto phone-mt-2">
            <a href="#" class="service-tile tile-b shadow white-bg transition d-flex flex-column mr-auto full-height ml-1">
                <span class="tile-bg tile-b-bg-b flex-auto transition phone-height-10rem"></span>
                <h3 class="service-tile-title text-bold text-color flex-auto tablet-text-09"><span class="title-text text-bold phone-pos-rel">Perming</span></h3>
            </a>
        </div>
        <div class="col col-4 tablet-col-3 phone-col-10 phone-ml-1grid flex-auto">
            <a href="#" class="service-tile tile-c tile-c-bg-a bg-cover shadow white-bg transition d-flex flex-column mt-3 phone-mt-2 phone-height-10rem relative">
                <h3 class="service-tile-title text-bold text-color-white title-gradient tablet-text-09">
                    <span class="title-text text-bold">Treatment</span>
                </h3>
            </a>
            <a href="#" class="service-tile tile-c tile-c-bg-b bg-cover shadow white-bg transition d-flex flex-column mt-3 phone-mt-2 phone-height-10rem relative">
                <h3 class="service-tile-title text-bold text-color-white title-gradient tablet-text-09">
                    <span class="title-text text-bold">Other Services</span>
                </h3>
            </a>
        </div>
        <div class="col col-1 flex-auto"></div>
    </div>
</section>

<section class="brands">
    <img src="~/img/barnsdale-beauty-logos.jpg" alt="Brands" class="responsive-img mt-6 mb-4" />
</section>

<section id="salon">
    <div class="clearfix pt-4 pb-4">
        <div class="col col-1"></div>
        <div class="col col-10">
            <div class="clearfix d-flex tablet-portrait-d-block">
                <div class="col col-7 tablet-portrait-col-12">
                    <div class="d-table full-height">
                        <div class="d-table-cell valign-middle p-1">
                            <img src="~/img/Hairdressers-Edinburgh-VincentBell-Gallery.jpg" alt="Salon" class="responsive-img" />
                        </div>
                    </div>
                </div>
                <div class="col col-5 tablet-portrait-col-12">
                    <div class="text-center text">
                        <div class="p-1">
                            <img src="~/img/logo.png" alt="Logo Olga Nicole Salon" class="responsive-img tablet-w-90" srcset="img/logo.png 1x, img/logo-2x.png 2x, img/logo-3x.png 3x" />
                        </div>
                        <p class="text-bold text-color-lighter p-4 mb-1 tablet-p-2 tablet-text-09">
                            Ut enim ad minim veniam quis nostrud exercitation ullamco. Lorem Ipsum
                        </p>
                        <a class="rounded-button purple-blue-gradient d-inline-block text-color-white text-uppercase text-bold action-button mb-4 transition anchor" href="#">View Salon</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-1"></div>
    </div>
</section>

<section id="team">
    <div class="clearfix gray-bg pb-4 pt-4">
        <h1 class="section-title text-color text-center mb-4">
            <span class="text-thin">... and the</span> <span class="text-medium">team</span>
        </h1>
        <div class="team-container clearfix">
            <div class="team-item">
                <div class="team-item-img" style="background-image: url( img/yanina-profile.jpg );"></div>
                <div class="team-item-info">
                    <div class="p-2 relative d-flex flex-column full-height">
                        <h2 class="text-regular team-item-info-name flex-auto">Yanina<br />Doe</h2>
                        <h4 class="text-color-lighter text-bold team-item-info-title mb-1">Master Hair<br />Designer</h4>
                        <a href="#" class="text-color-lighter text-medium"><span class="icon-instagram"></span> yaninahair</a>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="team-item-info">
                    <div class="p-2 relative d-flex flex-column full-height">
                        <h2 class="text-regular team-item-info-name flex-auto">Amanda<br />Blair</h2>
                        <h4 class="text-bold team-item-info-title mb-1">Art<br />Director</h4>
                        <a href="#" class="text-medium"><span class="icon-instagram"></span> amandahair</a>
                    </div>
                </div>
                <div class="team-item-img" style="background-image: url( img/amanda-profile.jpg );"></div>
            </div>
            <div class="team-item">
                <div class="team-item-info">
                    <div class="p-2 relative d-flex flex-column full-height">
                        <h2 class="text-regular team-item-info-name flex-auto">Bárbara<br />Ruiz</h2>
                        <h4 class="text-bold team-item-info-title mb-1">Creative<br />Stylist</h4>
                        <a href="#" class="text-medium"><span class="icon-instagram"></span> barbararuizhair</a>
                    </div>
                </div>
                <div class="team-item-img" style="background-image: url( img/barbara-profile.jpg );"></div>
            </div>
            <div class="team-item">
                <div class="team-item-img" style="background-image: url( img/ingrid-profile.jpg );"></div>
                <div class="team-item-info">
                    <div class="p-2 relative d-flex flex-column full-height">
                        <h2 class="text-regular team-item-info-name flex-auto">Ingrid<br />Watson</h2>
                        <h4 class="text-color-lighter text-bold team-item-info-title mb-1">Senior<br />Stylist</h4>
                        <a href="#" class="text-medium text-color"><span class="icon-instagram"></span> ingridwhair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="clearfix relative gallery-container">
        <div class="col col-7 phone-col-10 full-height phone-height-70percent relative">
            <div id="gallery-slider" class="slider">
                <div class="slider-item bg-cover current" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Gallery4.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main1.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main5.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main6.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main11.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main12.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main13.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressers-Edinburgh-VincentBell-Main14.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/Hairdressing-at-Barnsdale.jpg );"></div>
                <div class="slider-item bg-cover bg-center" style="background-image: url( img/gallery/hairdressing-courses-edinburgh-cover1.jpg );"></div>
            </div>
        </div>
        <div class="col col-1 phone-col-2 full-height phone-height-70percent relative text-center">
            <label class="slider-control slider-control-next gallery-control" data-slider="#gallery-slider"></label>
            <label class="slider-control slider-control-prev gallery-control" data-slider="#gallery-slider"></label>
        </div>
        <div class="col col-4 phone-col-12 full-height phone-height-30percent relative">
            <div class="d-table full-height full-width">
                <a href="gallery" class="view-gallery--link text-regular">View <br /> Gallery <span class="arrow">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="clearfix relative testimonials-container d-flex">
        <div class="col col-2 tablet-d-none"></div>
        <div class="col col-1 relative text-center">
            <div class="control-top-spacer"></div>
            <label class="slider-control slider-control-prev testimonial-control" data-slider="#testimonials-slider"></label>
        </div>
        <div class="col col-6 tablet-col-10 relative d-flex flex-column pt-2">

            <h1 class="text-bold text-color-lighter mt-2 testimonials-header-title mb-1 text-center">Testimonials</h1>
            <h5 class="text-bold text-color-lighter mb-2 testimonials-header-subtitle text-center">What customers said about us</h5>
            <div id="testimonials-slider" class="slider autoheight text-center">
                <div class="slider-item current">
                    <h4 class="text-bold">Betty Molten</h4>
                    <div class="testimonial-body text-color text-regular p-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="slider-item">
                    <h4 class="text-bold">asd</h4>
                    <div class="testimonial-body text-color text-regular p-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.
                        </p>
                    </div>
                </div>
            </div>

            <div class="text-center pb-2 flex-auto">
                <a class="rounded-button purple-orange-gradient d-inline-block text-color-white text-uppercase text-bold action-button transition shadow anchor" href="#services">Write yours</a>
            </div>
        </div>
        <div class="col col-1 relative text-center">
            <div class="control-top-spacer"></div>
            <label class="slider-control slider-control-next testimonial-control" data-slider="#testimonials-slider"></label>
        </div>
        <div class="col col-2 tablet-d-none"></div>
    </div>
</section>

<section id="appointment">
    <div class="clearfix d-flex tablet-portrait-d-block mt-2">
        <div class="col col-3 tablet-portrait-col-12 tablet-portrait-height-10rem flex-auto appointment-bg"></div>
        <div class="col col-4 tablet-portrait-col-12 flex-auto light-bg">
            <div class="p-2">
                <h1 class="appointment-title text-color-lighter mb-2">
                    <span class="text-light">Opening</span><br />
                    <span class="text-medium">times</span>
                </h1>
                <div class="appointment-times text-color-lighter">
                    <span class="time-label text-uppercase text-bold">Sunday</span>
                    <span class="time">10:00 - 17:00</span>
                    <span class="time-label text-uppercase text-bold">Monday - Wednesday</span>
                    <span class="time">09:00 - 18:00</span>
                    <span class="time-label text-uppercase text-bold">Thursday</span>
                    <span class="time">09:00 - 20:00</span>
                    <span class="time-label text-uppercase text-bold">Friday</span>
                    <span class="time">09:00 - 18:00</span>
                    <span class="time-label text-uppercase text-bold">Saturday</span>
                    <span class="time">09:00 - 17:00</span>
                </div>
            </div>
        </div>
        <div class="col col-5 tablet-portrait-col-12 flex-auto">
            <div class="p-2">
                <h1 class="appointment-title text-color-lighter mb-2">
                    <span class="text-light">Ready for an</span><br />
                    <span class="text-medium">appointment?</span>
                </h1>
                <div class="appointment-form">
                    <form>
                        <div class="clearfix">
                            <div class="col col-6 tablet-col-12">
                                <label for="date">Date and time</label>
                                <div class="clearfix">
                                    <div class="col col-7">
                                        <input name="appoDate" value="" type="date" class="mr-1" />
                                    </div>
                                    <div class="col col-5">
                                        <input name="appoTime" value="10:00" type="time" class="mr-1 tablet-mr-0" />
                                    </div>
                                </div>
                            </div>
                            <div class="col col-6 tablet-col-12">
                                <label for="date">Hairdresser</label>
                                <select name="appoHairdresser">
                                    <option>Nicole</option>
                                    <option>Yanina</option>
                                    <option>Amanda</option>
                                </select>
                            </div>
                            <div class="col col-12 mt-1">
                                <label for="date">Name</label>
                                <input name="appoName" value="" type="text" />
                            </div>
                            <div class="col col-6">
                                <label for="date">Phone</label>
                                <input type="text" name="appoPhone" value="" class="mr-1" />
                            </div>
                            <div class="col col-6">
                                <label for="date">Email</label>
                                <input type="email" name="appoEmail" value="" />
                            </div>
                            <div class="col col-6 mt-1">
                                <label for="date">Desired service</label>
                                <select name="appoHairdresser" class="mr-1">
                                    <option>Perming</option>
                                    <option>Treatment</option>
                                    <option>Other Services</option>
                                </select>
                            </div>
                            <div class="col col-6 mt-1">
                                captcha
                            </div>
                            <div class="col col-12">
                                <input type="submit" name="appoSubmit" value="Send" class="rounded-button text-regular text-color-white text-uppercase mt-1 transition" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>